@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Inductry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable></GameListTable>


@code{
   
}